<!DOCTYPE html>
{% load static %}
{% load markdown_extras %}


<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
       
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"> 
    <link
      media="all"
      href="{% static 'wp-content/cache/autoptimize/css/autoptimize_95fbdbe3622f3a662d479bcb29185b82.css'%}"
      rel="stylesheet"
    />

    

    
    <script
      type="text/javascript"
      src="{%static 'wp-includes/js/jquery/jquery.min9d52.js'%}"
      id="jquery-core-js"
    ></script>
  </head>

  <body
    class="
      post-template-default
      single single-post
      postid-148
      single-format-standard
      default--scrolling
      elementor-default elementor-kit-242
    "
  >
    <div class="art-app">
      <div class="art-mobile-top-bar"></div>
      <div class="art-preloader">
        <div class="art-preloader-content">
          <h4>🔸Loading Project🔸</h4>
          <div id="preloader" class="art-preloader-load">
            <div class="art-preloader-load-first">
              <svg
                viewBox="0 0 100 1.7"
                preserveAspectRatio="none"
                style="width: 100%; height: 100%"
              >
                <path
                  d="M
                                    0,0.85 L 100,0.85"
                  stroke="#eee"
                  stroke-width="1.7"
                  fill-opacity="0"
                ></path>
              </svg>
              <div class="progressbar-text">0 %</div>
            </div>
          </div>
        </div>
      </div>

      <div class="art-app-wrapper">
        <div class="art-app-container">
          <div class="art-info-bar">
            <div class="art-info-bar-frame">
              <div class="art-info-bar-header">
                <a class="art-info-bar-btn">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
              </div>
              <div class="art-header">
                <div class="art-avatar">
                  <a
                    data-no-swup
                    href="{% static 'wp-content/uploads/2020/10/face-1-min.jpg'%}"
                    class="art-avatar-curtain"
                  >
                    <img
                      src="{% static 'wp-content/uploads/2020/10/face-1-small.jpg'%}"
                      alt="avatar"
                    />
                    <i class="fas fa-expand"></i>
                  </a>
                  <div class="art-lamp-light">
                    <div class="art-available-lamp"></div>
                  </div>
                </div>
                <h5 class="art-name mb-10">
                  <a href="#">{{me.fullname}}</a>
                </h5>
                <!--ocuppation section-->
                <div class="art-sm-text">
                  {%if me.occupations.count%}
                    {%for occ in me.occupations.all%}
                      {{occ.name}}</br>
                    {%endfor%}
                  {%else%}
                    No Ocuupations
                  {%endif%}
                  
                </div>
              </div>
              <div id="scrollbar2" class="art-scroll-frame">
                <div class="art-table p-15-15">
                  <ul>
                    <li>
                      <h6>Residence:</h6>
                      {%if me.country%}
                        <span>{{me.country}}</span>
                      {%else%}
                        <span>NonSet</span>
                      {%endif%}
                    </li>
                    <li>
                      <h6>City:</h6>
                      {%if me.city%}
                        <span>{{me.city}}</span>
                      {%else%}
                        <span>NonSet</span>
                      {%endif%}
                    </li>
                    <li>
                      <h6>Age:</h6>
                      {%if me.age%}
                        <span>{{me.age}} years old</span>
                      {%else%}
                        <span>NonSet</span>
                      {%endif%}
                    </li>
                  </ul>
                </div>
                <!--Languages section-->
                {%if me.languages.count%}
                  <div class="art-ls-divider"></div>
                  <div class="art-lang-skills p-30-15">
                  {%for lang in me.languages.all%}
                    <div class="art-lang-skills-item">
                        <div
                          id="circleprog1-{{forloop.counter}}"
                          data-type="circles"
                          data-value="{{lang.degree}}"
                          class="art-cirkle-progress art-skills-progress"
                        ></div>
                        <h6>{{lang.language_name}}</h6>
                      </div>
                    {%endfor%}
                  </div>
                {%endif%}

                {%if me.hardskills.count%}

                  <div class="art-ls-divider"></div>
                  
                  <div class="art-hard-skills p-30-15">
                    <div class="art-hard-skills-item">
                      
                      {%for hskill in me.hardskills.all%}
                        
                        <div class="art-skill-heading"><h6>{{hskill}}</h6></div>
                        <div class="art-line-progress">
                          <div
                            id="lineprog2-{{forloop.counter}}"
                            data-type="progress"
                            data-value="{{hskill.degree}}"
                            class="art-skills-progress"
                          ></div>
                        </div>
                      {%endfor%}
                    </div>
                    
                  </div>
                {%endif%}

                {%if me.knowledges.count%}
                  <div class="art-ls-divider"></div>
                  <ul class="art-knowledge-list p-15-0">
                    {%for knowladge in me.knowledges.all%}
                      <li><i class="fas fa-check"></i>{{knowladge}}</li>
                    {%endfor%}
                  </ul>
                {%endif%}

                {%if resume%}
                  <div class="art-ls-divider"></div>
                  <div class="art-links-frame p-15-15">
                    <a
                    class="art-link"
                      href="/media/{{resume.path}}"
                      target="_blank"
                      >Download My CV <i class="fas fa-download"></i
                    ></a>
                  </div>
                {%endif%}
              </div>

              <div class="art-ls-social">
                {%if me.linkedin%}
                  <a href="{{me.linkedin}}" target="_blank"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                {%endif%}
                {%if me.facebook%}
                  <a href="{{me.facebook}}" target="_blank"
                    ><i class="fab fa-facebook"></i
                  ></a>
                {%endif%}
                {%if me.gitlab%}
                  <a href="{{me.gitlab}}" target="_blank"
                    ><i class="fab fa-gitlab"></i
                  ></a>
                {%endif%}
                {%if me.github%}
                  <a href="{{me.github}}" target="_blank"
                    ><i class="fab fa-github"></i
                  ></a>
                {%endif%}
                {%if me.twitter%}
                  <a href="{{me.twitter}}" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                {%endif%}
                
              </div>
            </div>
          </div>
          <div class="art-menu-bar-fix">
            <div class="art-menu-bar">
              <div class="art-menu-bar-frame">
                <div class="art-menu-bar-header">
                  <a class="art-menu-bar-btn"> <span></span> </a>
                </div>
                <div class="art-current-page"></div>
                <div class="art-scroll-frame">
                  <nav id="swupMenu">
                    <ul id="menu-onepage-menu" class="main-menu">
                      <li
                        id="menu-item-213"
                        class="
                          menu-item
                          menu-item-type-custom
                          menu-item-object-custom
                        "
                      >
                        <a href="{% url 'myresume'%}">Home</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="art-content">
            <div class="art-curtain"></div>
            <div
              class="art-top-bg"
              style="
                background-image: url(../../../../wp-content/uploads/2020/09/bg.jpg);
              "
            >
              <div class="art-top-bg-overlay"></div>
            </div>

            <div class="transition-fade" id="swup">
              <div id="scrollbar" class="art-scroll-frame">
                <div class="container-fluid">
                  <div class="row p-30-0">
                    <div class="col-lg-12">
                      <div class="art-section-title">
                        <div class="art-title-frame">
                          <h1>{{project.slog}}</h1>
                        </div>
                        <div class="art-right-frame">
                          <div class="art-project-category">
                            {{project.date_of_ends}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="art-a art-project-cover">
                        <a
                          data-no-swup
                          href="{{MEDIA_URL}}/media/{{photo_proj.image}}"
                          class="art-portfolio-item-frame art-horizontal"
                        >
                          <img
                            width="1920"
                            height="2559"
                            src="{{MEDIA_URL}}/media/{{photo_proj.image}}"
                            class="
                              attachment-arter_1920xAuto
                              size-arter_1920xAuto
                              wp-post-image
                            "
                            alt="{{project.slog}}"
                            loading="lazy"
                            srcset="
                              {{MEDIA_URL}}/media/{{photo_proj.image}} 1920w
                            "
                            sizes="(max-width:
                                                        1920px) 100vw, 1920px"
                          />
                          <span class="art-item-hover"
                            ><i class="fas fa-expand"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="art-a art-card">
                        <div
                          id="post-148"
                          class="
                            post-148 post
                            type-post
                            status-publish
                            format-standard
                            has-post-thumbnail
                            hentry
                            category-design category-events category-technology
                            tag-design tag-events tag-process
                          "
                        >
                          <div class="content-box">
                            <div class="single-post-text">
                              <p>{{project.description}}</p>
                              <!-- here marked down content -->
                              <blockquote class="wp-block-quote">
                                <p>{{project.description_markDown | markdown | safe}}</p>
                                <cite>— MarkedDownDESCRIPTION</cite>
                              </blockquote>
                              <p>{{project.description_2}}</p>
                              {%if project.photos%}
                              <h3>ScreenShots</h3>
                              <p>
                                as described below, these are screenshots for my
                                project
                              </p>
                              <figure
                                class="wp-block-gallery columns-2 is-cropped"
                              >
                                <ul class="blocks-gallery-grid">
                                  {%for imagep in project.photos.all%}
                                    <li class="blocks-gallery-item">
                                        <figure>
                                        <img
                                            loading="lazy"
                                            width="1024"
                                            height="683"
                                            src="{{MEDIA_URL}}/media/{{imagep.image}}"
                                            alt=""
                                            data-id="36"
                                            data-full-url="{{MEDIA_URL}}/media/{{imagep.image}}"
                                            data-link=""
                                            class="wp-image-36"
                                            srcset="
                                            {{MEDIA_URL}}/media/{{imagep.image}} 1024w
                                            "
                                            sizes="(max-width:1024px)100vw,1024px"
                                        />
                                        </figure>
                                    </li>
                                  {%endfor%}
                                </ul>
                              </figure>
                              {%endif%}

                              <p>

                              </p>
                            </div>
                            <div class="post-text-bottom">
                                <!-- all links git(hub/lab) -->
                                <div class="social-share">
                                    {%if project.links%}
                                    <span>Shared in :</span>
                                    {%for link in project.links.all%} {%if link.inGitHub%}<li>GITHUB</li>
                                    <a href="{{link.url}}" target="_blank"><i class="fab fa-github"></i></a>
                                    {%else%}<li>GITLAB</li>

                                    <a href="{{link.url}}" target="_blank"><i class="fab fa-gitlab"></i></a>
                                    {%endif%}
                                    {%endfor%} {%endif%}
                                </div>
                                
                                
                              {%if project.tags%}
                              <span class="tags-links"
                                >Tags:
                                {%for tag in project.tags.all%}
                                    <a href="" rel="tag">{{tag.name}}</a>
                                {%endfor%}
                            </span>
                            {%endif%}
                              <!-- feature .... we can share ower project 🙋-->
                              <!-- <div class="social-share">
                                <span>Share:</span>
                                <a
                                  class="share-btn share-btn-facebook"
                                  title="Share
                                                                    on
                                                                    Facebook"
                                  ><i class="fab fa-facebook"></i></a
                                ><a
                                  class="share-btn share-btn-twitter"
                                  title="Share
                                                                    on Twitter"
                                  ><i class="fab fa-twitter"></i></a
                                ><a
                                  class="share-btn share-btn-linkedin"
                                  title="Share
                                                                    on
                                                                    Linkedin"
                                  ><i class="fab fa-linkedin"></i></a
                                ><a
                                  class="share-btn share-btn-reddit"
                                  title="Share
                                                                    on Reddit"
                                  ><i class="fab fa-reddit"></i></a
                                ><a
                                  class="share-btn share-btn-pinterest"
                                  title="Share
                                                                    on
                                                                    Pinterest"
                                  ><i class="fab fa-pinterest"></i
                                ></a>
                              </div> -->

                              <script type="text/javascript">
                                jQuery(window).focus(function () {
                                  jQuery(document).ready(function ($) {
                                    $(this).prop({
                                      title: "{{project.slog}}",
                                    });
                                  });
                                });

                                jQuery(window).blur(function () {
                                  jQuery(document).ready(function ($) {
                                    $(this).prop({
                                      title: "Back to me 🙃",
                                    });
                                  });
                                });
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12">
                      <div id="comments" class="post-comments">
                        <div class="form-comment content-box">
                          <div id="respond" class="comment-respond">
                            <div
                              id="reply-title"
                              class="title comment-reply-title"
                            >
                              <div class="title_inner">
                                Write a comment
                                <small
                                  ><a
                                    rel="nofollow"
                                    id="cancel-comment-reply-link"
                                    href="index.html#respond"
                                    style="display: none"
                                    >Cancel Reply</a
                                  ></small
                                >
                              </div>
                            </div>
                            <form
                              action=""
                              method="post"
                              id="commentform"
                              class="comment-form"
                              novalidate
                            >
                              <div class="group-val ct-gr">
                                <textarea
                                  placeholder="Comment"
                                  id="comment"
                                  name="comment"
                                  aria-required="true"
                                ></textarea>
                              </div>
                              <div class="group-val">
                                <input
                                  id="author"
                                  name="author"
                                  type="text"
                                  placeholder="Name"
                                  value=""
                                  aria-required="true"
                                />
                              </div>
                              <div class="group-val">
                                <input
                                  id="email"
                                  name="email"
                                  type="text"
                                  placeholder="Email"
                                  value=""
                                  aria-required="true"
                                />
                              </div>
                              <p class="comment-form-cookies-consent">
                                <input
                                  id="wp-comment-cookies-consent"
                                  name="wp-comment-cookies-consent"
                                  type="checkbox"
                                  value="yes"
                                />
                                <label for="wp-comment-cookies-consent"
                                  >Save my name, email, and website in this
                                  browser for the next time I comment.</label
                                >
                              </p>
                              <div class="form-submit">
                                <button
                                  type="submit"
                                  name="submit"
                                  id="submit"
                                  class="btn fill"
                                  data-text="Submit"
                                >
                                  Submit
                                </button>
                                <input
                                  type="hidden"
                                  name="comment_post_ID"
                                  value="148"
                                  id="comment_post_ID"
                                />
                                <input
                                  type="hidden"
                                  name="comment_parent"
                                  id="comment_parent"
                                  value="0"
                                />
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="container-fluid">
                  <footer class="footer">
                    <div>© 2021 All Rights Reserved.</div>
                    <div>
                      Email:
                      {%if me.email%}
                        <a href="mailto:{{me.email}}" target="_blank">{{me.email}}</a>
                      {%else%}
                        <span>NonSet</span>
                      {%endif%}
                    </div>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{%static 'wp-includes/js/dist/vendor/wp-polyfill.min89b1.js'%}"
      id="wp-polyfill-js"
    ></script>
    
    
    <script
      defer
      src="{%static 'wp-content/cache/autoptimize/js/autoptimize_f773920857e2fe08f592b26a6426145c.js'%}"
    ></script>
  </body>
</html>
